body {
    background-image: url('./images/background.jpg');
    background-repeat: repeat-y;
    background-size:auto;
    background-position-x: center;
    background-position-y:top;
    position:relative;
    margin: 0px;
    min-height: 1900px;
    background-attachment: scroll;
}
h1 {
    position:static;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif, sans-serif;
    font-size: 100px;
    position: center;
    text-align: center;
    color: #fdfdfd;
    margin: 1px;
    padding: 1px;
    opacity: 75%;
}
h2 {
    position: relative;
    text-align: center;
    color: #cdeded;
    margin: 1px;
    padding: 1px;
}
.topnav {
    z-index: 100;
    position: fixed;
    opacity: 80%;
    background-color: #5b5b5b;
    background: darken;
    padding: 0;
    margin: 0;
    width: 100%;
    top: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
.topnav a {
    float: left;
    color: #9090f0;
    text-align: center;
    padding:20px 20px;
    text-decoration: none;
    font-size: 20px;
  }
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
.topnav a.active {
    background-color: #20204A;
    color: white;
  }